{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'tool/header.html' %}
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-5 p-3 my-5">
        {% for p in projects %}
        <div class="tilt-box text-white bg-slate-900 p-5 rounded-md text-center my-2 md:my-0" data-tilt data-tilt-reverse="true" data-tilt-max="5">
            <div class="img-box h-56 mb-2 w-full mx-auto ">
                <img src="{% static 'tool/proj.png' %}" class="h-full w-full object-cover rounded-md">
            </div>
            <div class="descp">
                <p>Project Name: {{ p.name }}</p>
                <p>Start date: {{ p.date }}</p>
            </div>
            <div class="btns mt-3 flex gap-5 justify-between">
                <a href="../../projectmanagementtool/proj?id={{p.id}}">
                    <button type="submit" class="btn w-full p-2 bg-emerald-600 rounded-md">OPEN</button>
                </a>

                <a href="../../projectmanagementtool/complete?id={{p.id}}">
                    <button type="submit" class="btn w-full p-2 bg-rose-600 rounded-md">MARK AS COMPLETE</button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% include 'tool/footer.html' %}
{% endblock %}