{% extends 'base.html' %}
{% block content %}
    <div class="main relative bg-slate-900 sm:w-96 mx-auto">
        {% include 'showroom/header.html' %}
        <div class="section">
            <div class="p-2">
                <div class="mb-16 bg-slate-800 px-2 py-4 rounded-md">
                    <form method="post" action="" class="">
                        {% csrf_token %}
                        <label class="block mb-5">
                            <p class="text-3xl text-center pb-2">Register</p>
                            <p class="text-xs opacity-60 text-center">Enter details to create account</p>
                        </label>
                        {% if error %}
                        <label class="block mb-5">
                            <p class="text-xs bg-rose-500 text-white p-1 rounded">{{ error }}</p>
                        </label>
                        {% endif %}

                        <label class="block mb-2">
                            <span class="text-sm block w-full">Name</span>
                            <div class="relative">
                                <input type="text" name="userName" class="block w-full p-1 ps-9 rounded bg-slate-700 ">
                                <i class="fa-solid fa-user absolute top-2 left-2 border-e-2 pe-2 border-slate-600"></i>
                            </div>
                        </label>


                        <label class="block mb-2">
                            <span class="text-sm block w-full">Email</span>
                            <div class="relative">
                                <input type="text" name="userEmail" class="block w-full p-1 ps-9 rounded bg-slate-700">
                                <i class="fa-solid fa-envelope absolute top-2 left-2 border-e-2 pe-2 border-slate-600"></i>
                            </div>
                        </label>

                        <label class="block">
                            <span class="text-sm block w-full">Password</span>
                            <div class="relative">
                                <input type="password" name="userPassword" class="block w-full p-1 ps-9 rounded bg-slate-700">
                                <i class="fa-solid fa-lock absolute top-2 left-2 border-e-2 pe-2 border-slate-600"></i>
                            </div>
                        </label>

                        <label class="block">
                            <div class="mt-4 flex justify-between items-center">
                                <button type="submit" class="bg-rose-600 py-2 px-5 rounded hover:bg-rose-500 duration-300">Register <i class="fa-solid fa-angle-right"></i></button>
                                <p class="opacity-60 text-sm">OR</p>
                                <a href="../../showroom/login"><button type="button" class="bg-emerald-600 py-2 px-5 rounded hover:bg-emerald-500 duration-300"><i class="fa-solid fa-right-to-bracket"></i> Login</button></a>
                            </div>
                        </label>
                    </form>

                </div>
   
        </div>
        {% include 'showroom/footer.html' %}
    </div>
{% endblock %}